# NPM packages
node_modules/

# Compiled TypeScript source
dist/
build/

# dotenv files
# .env

# Log files
logs/

# SQLite databases
*.db

# IntelliJ IDEA
.idea/
*.iml

# Node.js heap snapshots
*.heapsnapshot
